desktop-base-width     = 1280px
rupture.desktop-cutoff = $tablet = 1300px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$verde = #004B50
$verdeClaro = #8DC641

times($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Times New Roman', serif
    font-weight $weight
    font-style $style
