.not-found
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background $verde
    h1
        position absolute
        display inline-block
        border 2px solid $verdeClaro
        color #fff
        times 18
        padding 14px
        text-transform uppercase
        margin 0
        top 50%
        left 50%
        white-space nowrap
        transform translateY(-50%) translateX(-50%)
