.home
    position absolute
    height 100%
    width 100%
    min-height 640px
    top 0
    left 0
    border-top 40px solid $verde
    border-bottom 40px solid $verde
    overflow hidden
    +mobile()
        position relative
        min-height auto
        height auto
        padding 30px
        &:before
        &:after
            display none
    &:before
        content ''
        position absolute
        top 0
        left 50%
        margin-left 190px
        width 580px
        height 265px
        background $img('bg-flor-superior.png') no-repeat center
    &:after
        content ''
        position absolute
        bottom 0
        right 50%
        margin-right 160px
        width 413px
        height 208px
        background $img('bg-flor-inferior.png') no-repeat center
    .wrapper
        position absolute
        display table
        width 100%
        height 100%
        top 0
        left 0
        +mobile()
            position relative
            display block
            height auto
    .middle
        display table-cell
        vertical-align middle
        text-align center
        color $verde
        padding-bottom 80px
        +mobile()
            display block
            padding-bottom 0
    .boas-festas
        margin 0 0 10px
        times 32
        span
            display block
            times 16
            line-height 1.2
    img
        display block
        margin 55px auto
        +mobile()
            width 100%
            max-width 350px
    .pergunta
        times 22
        margin 0 0 5px
        +mobile()
            font-size 20px
    .respostas
        text-align center
        font-size 0
        a
            display inline-block
            padding 10px 0
            background $verde
            color #fff
            times 18
            text-align center
            width 90px
            margin 0 15px
            transition background .3s
            +mobile()
                padding 12px 0
                width 100px
                margin 0 10px
            &:hover
                background $verdeClaro
    .aviso
        times 14
        margin 20px 0 0
        line-height 1.2
        transition all .5s .5s
        &.destaque
            transform translateY(-115px)
            font-size 18px
            +mobile()
                font-size 14px
    .qualidade
        position absolute
        bottom 10px
        margin 0
        left 50%
        times 12
        color $verde
        +mobile()
            position relative
            bottom auto
            left auto
            text-align center
            margin-top 40px
