.pedido
    border-top 40px solid $verde
    border-bottom 40px solid $verde
    position relative
    padding 200px 0 160px
    overflow hidden
    &:before
        content ''
        position absolute
        top 0
        left 50%
        margin-left 190px
        width 580px
        height 265px
        background $img('bg-flor-superior.png') no-repeat center
    &:after
        content ''
        position absolute
        bottom 0
        right 50%
        margin-right 160px
        width 413px
        height 208px
        background $img('bg-flor-inferior.png') no-repeat center
    +mobile()
        padding 30px 0 10px
        &:before
        &:after
            display none
    .pedido-center
        width 480px
        margin 0 auto
        +mobile()
            width 90%
    img
        display block
        margin 0 auto 40px
        +mobile()
            width 100%
            max-width 350px
    form
        clearfix()
    .radios
        display block
        margin-top 5px
        clearfix()
        label
            width 160px
            height 20px
            line-height 20px
            float left
            times 15
            text-transform uppercase
            color $verde
            position relative
            padding-left 22px
            input
                position absolute
                top 3px
                left 0
                width 14px
                height 14px
            +mobile()
                width 100%
    .inputs
        display block
        margin-top 20px
        font-size 0
        input
            border 1px solid $verde
            color $verde
            width 235px
            times 13
            padding 5px
            margin-bottom 10px
            margin-right 10px
            &:nth-child(2n)
                margin-right 0
            +placeholder()
                color $verdeClaro
        +mobile()
            input
                width 100%
                margin-right 0
    .endereco
        margin-top 15px
        font-size 0
        h3
            margin 0 0 10px
            times 15
            color $verde
        p
            margin 0
            times 13
            text-align center
            color $verde
            +mobile()
                text-align left
        input
            border 1px solid $verde
            color $verde
            times 13
            padding 5px
            margin-bottom 10px
            +mobile()
                width 100% !important
                margin-right 0 !important
            +placeholder()
                color $verdeClaro
            &#cep
                width 80px
                margin-right 10px
            &#endereco
                width 300px
                margin-right 10px
            &#numero
                width 80px
            &#complemento
                width 180px
                margin-right 10px
            &#bairro
                width 120px
                margin-right 10px
            &#cidade
                width 110px
                margin-right 10px
            &#estado
                width 40px
    .noticias
        border-top 1px dashed $verdeClaro
        border-bottom 1px dashed $verdeClaro
        margin 20px 0
        padding 10px 0
        label
            display inline-block
            min-height 20px
            times 15
            text-transform uppercase
            color $verde
            position relative
            padding-left 22px
            +mobile()
                font-size 14px
            input
                position absolute
                top 1px
                left 0
                width 14px
                height 14px
    .pagamento
        width 240px
        float left
        +mobile()
            width 100%
        p
            times 15
            color $verde
            margin 0 0 10px
        label
            width 100%
            height 20px
            line-height 20px
            float left
            times 15
            text-transform uppercase
            color $verde
            position relative
            padding-left 22px
            input
                position absolute
                top 3px
                left 0
                width 14px
                height 14px
    input[type='submit']
        float right
        display inline-block
        background $verde
        color #fff
        times 18
        padding 14px 20px
        margin-top 15px
        border 3px solid #fff
        outline 1px solid $verdeClaro
        transition background .3s
        &:hover
            background $verdeClaro
        +mobile()
            float none
    .aviso
        display block
        width 100%
        float left
        border-top 1px dashed $verdeClaro
        margin-top 20px
        padding-top 14px
        text-align center
        p
            margin 0 0 30px
            times 10
            color $verde
            +mobile()
                margin-bottom 20px
        h2
            times 32
            margin 0
            color $verde
    .sucesso
        text-align center
        display none
        color $verde
        p
            margin 0 0 12px
            times 18
            line-height 1.2
            text-transform uppercase
        h2
            times 32
            margin 0
        +mobile()
            p
                times 16
    .qualidade
        position absolute
        bottom 10px
        margin 0
        left 50%
        times 12
        color $verde
        +mobile()
            position relative
            bottom auto
            left auto
            text-align center
            margin-top 40px
