.produtos
    border-top 40px solid $verde
    border-bottom 40px solid $verde
    &.com-total
        padding-bottom 90px
        +mobile()
            padding-bottom 80px
    .topo
        height 760px
        width 100%
        background $img('bg-flores.jpg') no-repeat center bottom
        background-size 1728px auto
        transition background .7s
        &.sobe
            background-position center 80%
        +mobile()
            height 400px
            background-size auto 300px
        .garrafa
            width 228px
            height 816px
            margin 0 auto
            position relative
            z-index 9997
            background $img('garrafa-fechada.png') no-repeat center bottom
            transition background .2s, transform .3s
            transform scale(.87) translateY(35px)
            +mobile()
                height 415px
                background-size auto 430px
            .tampa
                position absolute
                top 161px
                left 0
                width 100%
                height 91px
                background $img('tampa.png') no-repeat center
                transition transform .2s ease-in
                +mobile()
                    transform scale(.5)
                    top 54px
            &.aberta
                background-image $img('garrafa-aberta.png')
                transform translateY(60px) scale(.87)
                +mobile()
                    transform translateY(50px) scale(.87)
                .tampa
                    transform translateY(-435px)
                    +mobile()
                        transform translateY(-255px) scale(.5)
    .scroll-down
        display block
        width 136px
        height 75px
        margin 20px auto 95px
        times 18
        padding-top 50px
        position relative
        color $verde
        z-index 9998
        background $img('seta-scroll-down.png') no-repeat center top
        +mobile()
            margin 35px auto 20px
    .produtos-lista
        .center
            clearfix()
            font-size 0
            +mobile()
                padding-top 30px
        .produto
            display inline-block
            vertical-align top
            width 25%
            text-align center
            margin-bottom 45px
            +tablet()
                width 33.333%
            +mobile()
                width 50%
            img
                max-width 90%
                display block
                margin 0 auto 20px
            p
                margin 0 0 10px
                padding 0 25px
                line-height 1.2
                times 20
                color $verde
                +tablet()
                    padding 0 20px
                    times 18
                +mobile()
                    padding 0 15px
                    times 16
                    margin 0 0 5px
            .contador
                display block
                font-size 0
                margin-top 20px
                a
                    height 40px
                    width 40px
                    display inline-block
                    line-height 40px
                    color $verde
                    border 1px solid $verde
                    position relative
                    &.menos
                    &.mais
                        &:before
                            content ''
                            width 40%
                            height 2px
                            top 50%
                            margin-top -1px
                            background $verde
                            position absolute
                            left 30%
                    &.mais
                        &:after
                            content ''
                            height 40%
                            width 2px
                            left 50%
                            margin-left -1px
                            background $verde
                            position absolute
                            top 30%
                span
                    vertical-align top
                    display inline-block
                    height 40px
                    padding 0 14px
                    times 25
                    line-height 40px
                    border-top 1px solid $verde
                    border-bottom 1px solid $verde
                    color $verde
                    cursor default
                +mobile()
                    margin-top 15px
                    a
                        width 32px
                        height 32px
                    span
                        height 32px
                        padding 0 10px
                        times 20
                        line-height 32px
    .total
        display none
        width 100%
        background $verde
        padding 20px 0
        text-align center
        position fixed
        left 0
        bottom 0
        z-index 9999
        p
            color $verdeClaro
            margin 0
            times 20
            +mobile()
                times 18
            span
                color #fff
                margin-left 10px
        input[type='submit']
            display inline-block
            background #fff
            color $verde
            times 18
            padding 14px 20px
            +mobile()
                times 17
                padding 10px 12px
            margin-top 8px
            border 3px solid $verde
            outline 1px solid $verdeClaro
            transition background .3s
            &:hover
                background $verdeClaro
    .qualidade
        display inline-block
        times 12
        color $verde
        position relative
        left 50%
        margin 30px 0 10px
        +mobile()
            left auto
            text-align center
            width 100%
